# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_SADEKBAROUDI_XIVIK

config BOARD
	default "sadekbaroudi_xivik"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_SADEKBAROUDI_XIVIK
