/*
 * Copyright (c) 2021 Peter Johanson
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	vik_conn: vik_connector {
		compatible = "sadekbaroudi,vik-connector";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map
			= <0 0 &gpio0 23 0>		/* D0 */
			, <1 0 &gpio0 19 0>		/* D1 */
			, <2 0 &gpio0  7 0>		/* D2 */
			, <3 0 &gpio0  4 0>		/* D3 */
			, <4 0 &gpio0 27 0>		/* D4 */
			, <5 0 &gpio0  5 0>		/* D5 */
			, <6 0 &gpio0  6 0>		/* D6 */
			, <7 0 &gpio1  9 0>		/* D7 */
			, <8 0 &gpio0 15 0>		/* D8 */
			;
	};
};

vik_i2c: &i2c1 {};
vik_spi: &spi3 {};
